telegram-group-inspector.workflow.json
{
  "id": "8a2b7f18-76cf-4d64-8e6e-0f9a5e78d1f1",
  "name": "Telegram Group Inspector",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-group-inspector",
        "responseMode": "lastNode"
      },
      "id": "4d7f1d6d-0d2d-4f70-a1fb-61a6e7c0a001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [420, 300],
      "webhookId": "d1f8c3a4-70c8-4d12-87ab-2a4c7e2d0001"
    },
    {
      "parameters": {
        "command": "={{`N8N_INPUT_B64='${Buffer.from(JSON.stringify($json.body ?? $json)).toString('base64')}' node /home/node/.n8n/telegram-group-inspector-runner.mjs`}}"
      },
      "id": "4d7f1d6d-0d2d-4f70-a1fb-61a6e7c0a003",
      "name": "Run Telegram Inspector",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "jsCode": "const out = $input.first()?.json?.stdout ?? '{}';\nreturn [{ json: JSON.parse(out) }];"
      },
      "id": "4d7f1d6d-0d2d-4f70-a1fb-61a6e7c0a004",
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Run Telegram Inspector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Telegram Inspector": {
      "main": [
        [
          {
            "node": "Parse Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3baa9c10-8acc-4315-a6e0-99b27321a28e"
}
